.breadcrumb-not-active {
    color: #cccccc;
    font-size: 130%;
}
  
.breadcrumb-active {
    color: #32084a;
    font-size: 130%;
}
  
.breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
}
