/*.navbar {
    background-color: green;
    padding: 0%;
    color: white;
    margin: 0%;
    width: 100%;
}

.navbar .link {
    font-size: 20px;
    display: inline;
    top: 50%;
    left: 50%;
    color: white;
    text-decoration: none;
}

.navbar div {
    text-align: center;
}*/

.navbar {
    background-color: green;
    color: white;
}

.navbar .link {
    text-decoration: none;
    color: white;
}
