/*.navbar {
    background-color: green;
    padding: 0%;
    color: white;
    margin: 0%;
    width: 100%;
}

.navbar .link {
    font-size: 20px;
    display: inline;
    top: 50%;
    left: 50%;
    color: white;
    text-decoration: none;
}

.navbar div {
    text-align: center;
}*/

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    margin-bottom: 500%;
}

.navbar .link {
    text-decoration: none;
    color: rgb(107, 100, 100);
}
